<div id="main-nav-cont" class="main-nav">
  <div class="container">
    <p class="logo-cont"><span class="glyphicon glyphicon-globe"></span><a class="logo" href="/"> Then And Now</a></p>
  </div><!--/container-->
</div>