<div id="footer" class="container">
    <nav id="footerNav" class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit"><span class="glyphicon glyphicon-globe"></span> Then And Now</p>
        </div>
    </nav>
</div>