#main-nav-cont {
	background-color: #cf3b3b;
	padding-left: 0px;
	font-size: 35px;
	color: white;
	font-family: 'Slabo 13px', serif;
	padding-top: 10px;
	margin-bottom: 40px;
	.logo-cont {
		float: left;
		margin-left: 30px;
	}
}

#footerNav {
	color: white;
	font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
	background-color: #333333;
	.navbar-content-center {
		float: left;
		margin-left: 40px;
	}
}

