
@import "bootstrap";
/** {
	border: 1px solid red;
}*/
body {
	text-align: center;
	background-size: cover;
	color: black;
}
.navbar-default {
	/*padding: 15px;*/
	background-color: #cf3b3b;
	border: none;
	border-radius: 0px;
	.navbar-brand {
		color: white;
		float: left;
		font-size: 3em;
	}
}
.navbar-header {
		font-family: 'Slabo 13px', serif;
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

#logout {
	float: right;
}  
  
h1{
	width: 100;
	padding-right: 0px;
	#email {
		font-size: .7em;
		padding-top: 11px;
		float: left;
	}
	border-bottom: 1px solid gray;
	padding-bottom: 20px;

}

li {
	list-style-type: none;
}

#photostoriescontainer {
	margin-bottom: 150px;
	padding: 20px;
}

.photoDiv {
	background-color: rgba(0, 0, 0, 0.7);
	border: 5px solid white;
	border-radius: 10px;
	color: white;
	img {
		border: 3px solid white;
		border-radius: 6px;
		margin-bottom: 5px;
	}
	.btn-danger {
		float: right;
		margin-top: 5px;
		margin-right: -10px;
		border-radius: 3px;
	}
	footer {
		margin-bottom: 8px;
		.fb-share-button {
			float: right;
			font-size: 20px;
		}
		span {
			float: left;
			font-size: 16px;
		}
		span:hover {
			color: #00FFFF;
			cursor: pointer;
		}
	}
}

img {
	height: 150px;
	width: 150px;
}

/*modal btn*/
.btn {
	border-radius: 0px;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*new photo story button*/
.btn-lg {
	float: right;
}

.modal-dialog {margin-top: 13%;}
.modal-content {
	color: white;
	background-color: rgba(207, 59, 59, 0.9);
	max-height: 500px;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;	
	ul {
		margin-left: -23px;
		li {
			img {
				border: 3px solid white;
				border-radius: 3px;
			}
		}
	}
}

.modalImage {
	display: inline;
	margin-right: 15px;
	img {
		height: 320px;
		width: 250px;
	}
}