// Place all the styles related to the photostory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
* {
	border: 1px solid red;
}
body {
	text-align: center;
}
.navbar-default{
	padding: 15px;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    #signout {
    	float: right;
    }
}
.navbar-brand {float:none;}

li {
	list-style-type: none;
	display: inline;
}

img {
	height: 75px;
	width: 75px;
}

.btn {
	border-radius: 0px;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-lg {
	margin-top: 20px;
}