// Place all the styles related to the photostory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
* {
	border: 1px solid red;
}
body {
	text-align: center;
}

li {
	list-style-type: none;
	display: inline;
}

.btn-lg {
	margin-top: 20px;
}