<div id="main-nav-cont" class="main-nav">
  <div class="container">
    <p class="logo-cont"><span class="logo" href="/">Then And Now</span></p>
                            
  </div><!--/container-->
</div>